[Desktop Entry]
Name=Eyes That Blink
GenericName=EyesThatBlink
Exec=eyesthatblink
Icon=EyesThatBlink
Type=Application
Categories=Utility;Accessibility;
