[Desktop Entry]
Name=Eyes That Blink
GenericName=eyesthatblink
Exec=eyesthatblink
Icon=EyesThatBlink
Type=Application
Category=Utility;Accessibility;
Categories=Utility;Accessibility;
X-GNOME-Autostart-Notify=false
